root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cpp,h,cs}]
indent_style = tab
indent_size = 4

[*.{md,ini,json}]
indent_style = space
indent_size = 2
